.box-layout {
  align-items: center;
  background: $black;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  color: $off-white;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 35rem;
  @media (min-width: $desktop-breakpoint) {
    width: 60rem;
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
