.button {
  background: $dark-navy;
  border: none;
  color: $white;
  display: inline-block;
  font-size: 1.6rem;
  box-shadow: 1.2px 1.2px 1.2px 1.2px #00000026;
  font-weight: 500;
  font-size: $font-size-small;
  line-height: 1;
  padding: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #3f455f;
  }
  &:focus {
    background-color: #3f455f;
  }
}


.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
