.button {
  background: none;
  border: 1px solid $off-white;
  color: $off-white;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: #ffffff1c;
    border: 1px solid $light-blue;
  }
  &:focus {
    background: #ffffff1c;
    border: 1px solid $light-blue;
  }
}


.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
