.cg-calculator-container {
  max-width: 94%;
  @media (min-width: 860px) {
    max-width: 84%;
  }
  @media (max-width: $desktop-breakpoint) {
    margin: 0 auto;
  }
  @media (min-height: 1120px) {
    margin: 0 auto;
  }
}

.cg-calculator {
  padding: 80px 0px 6px 0px;
  @media (max-width: $desktop-breakpoint) {
    padding: 40px 0px 40px 0px;
  }
}

.cg-calculator-row {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2.2rem;
  flex-wrap: nowrap;
}

.cg-calculator-text {
  line-height: 2.5rem;
  padding: 0px;
  margin: 0 10px;
  font-weight: 300;
  align-self: center;
  font-size: 2.2rem;
}
.calculator-section {
  margin: 70px 0;
  display: flex;

}
.cg-calculator-small-text {
  line-height: 12px;
  margin: 2px 0 0 5px;
  padding: 7px;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
  @media (min-width: $tablet-breakpoint) {
    width: auto;
    margin-left: 5px;
    font-size: 1.2rem;
    align-self: center;
  }
}

.cg-calculator-form-symbol {
  top: 2px;
  left: 5px;
  position: relative;
  @media (min-width: $tablet-breakpoint) {
    top: 8px;
  }
}

.cg-calculator-big-text {
  font-size: 2rem;
  font-weight: 300;
  margin: 1.5rem 2rem;
  @media (min-width: $tablet-breakpoint) {
    font-size: 2.1rem;
    margin-top: 1rem;
  }
}

.cg-result {
  background: $soft-grey;
  text-align: center;
  font-size: 1.2rem;
  color: $dark-navy;
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  @media (min-width: $tablet-breakpoint) {
    padding: 1.5rem 11.5rem;
  }
}
.cg-result p {
  margin: 0;
}
.cg-result-text-bold {
  font-weight: 600;
}

.cg-calculator-form-element {
  margin-left: 0px;
  border-radius: 0;
  color: #ffffff;
}

select.cg-calculator-form-element {
  background: none;
  height: 30px;
  overflow: hidden;
  height: 42px;
  width: 200px;
  font-size: 1.8rem;
  padding: 8px;
  &:hover {
    background: #ffffff1c;
    border: 1px solid $light-blue;
  } 

}

select.cg-calculator-form-element.select-month {
  width: 60px;
  background-position: 84%;
}

select.cg-calculator-form-element.select-year {
  width: 80px;
  margin-left: 1.2rem;
  background-position: 88%;
}

input.cg-calculator-form-element.text-input {
  padding: 4px;
  overflow: hidden;
  height: 42px;
  width: 10rem;
  padding: 8px;
}

.cg-calculator-button {
  margin: 0 auto;
  width: 15rem;
  height: 5rem;
}

.cg-calculator-button-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
}

.cg__error {
  @extend .cg-calculator-small-text;
  color: $red;
  opacity: 1;
}

.cg-calculator-form-symbol__error {
  color: $red;
}

.cg__error-spacing {
  margin: 2px 0 0 5px;
}
