.cg-calculator-container {
  background: $white;
  // transition: all 1s ease-in-out;
  padding: 4.5rem 11.5rem;
  color: $dark-navy;
  border-radius: 4px;
  box-shadow: 1.5px 1.5px 1.2px 1.5px #00000026;
  @media (max-width: 626px) {
    padding: 3.5rem 3.5rem;
    width: 94vw;
  }
  @media (max-width: 420px) {
    padding: 3.5rem 1.2rem;
  }
}

.cg-calculator-input-container {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 420px) {
    width: 120px;
  }
}

.cg-calculator {
  padding: 80px 0px 6px 0px;
  @media (max-width: $desktop-breakpoint) {
    padding: 40px 0px 40px 0px;
  }
}

.cg-calculator-row {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.2rem;
  flex-wrap: nowrap;
}

.cg-calculator-text-spacing.extra-margin {
  margin-right: 4rem;
  @media (max-width: 340px) {
    margin-right: 1rem;
  }
}

.cg-calculator-text-spacing {
  padding: 0px;
  margin: 0 1rem;
  align-self: center;
}

.cg-calculator-text {
  line-height: 2.5rem;
  font-weight: 300;
  font-size: $font-size-medium;
  @media (max-width: 626px) {
    font-size: $font-size-small;
  }
}

.calculator-section {
  margin: 50px 0;
  display: flex;
  @media (max-width: 340px) {
    margin: 35px 0;
  }
}

.cg-calculator-form-symbol {
  top: 2px;
  left: 5px;
  position: relative;
  @media (min-width: $tablet-breakpoint) {
    top: 8px;
  }
}

.cg-calculator-big-text {
  font-size: 2rem;
  font-weight: 300;
  margin: 1.5rem 2rem;
  @media (min-width: $tablet-breakpoint) {
    font-size: 2.1rem;
    margin-top: 1rem;
  }
}

.cg-result {
  background: $dark-navy;
  text-align: center;
  font-size: 1.2rem;
  color: $white;
  font-size: $font-size-small;
  padding: 1.5rem 2.5rem;
  @media (min-width: $tablet-breakpoint) {
    padding: 1.5rem 11.5rem;
  }
}
.cg-result p {
  margin: 0;
}
.cg-result-text-bold {
  font-weight: 600;
}

.cg-calculator-form-element {
  margin-left: 0px;
  border-radius: 0;
  color: $dark-navy;
}

select.cg-calculator-form-element.select-month {
  width: 100%;
  background-position: 84%;
}

select.cg-calculator-form-element.select-year {
  width: 100%;
  margin-left: 1.2rem;
  background-position: 88%;
}

input.cg-calculator-form-element.text-input {
  padding: 4px;
  overflow: hidden;
  height: 42px;
  width: 100%;
  padding: 8px;
}

.cg-calculator-button {
  margin: 0 auto;
  width: 15rem;
  height: 5rem;
}

.cg-calculator-button-container {
  margin-top: $xl-size;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
}

.cg__error {
  line-height: 11px;
  margin: 0 0 0 5px;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
  color: $red;
  opacity: 1;
  @media (min-width: $tablet-breakpoint) {
    width: auto;
    margin-left: 5px;
    font-size: 1.2rem;
    align-self: center;
  }
}

.cg-calculator-form-symbol__error {
  color: $red;
}
