.coin-table-container {
  background: none;
  display: grid;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 3px;
  padding: 20px 0px;
  color: $off-white;
}

.table-section {
  display: flex;
  align-items: center;
}


.coin-table-head {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}

.coin-table-head-cell {
  font-size: 2rem;
}

.coin-table-head-text {
  margin: 0;
  justify-self: center;
}

.coin-table-body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0.5rem;
}

.coin-table-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.coin-table-cell {
  // font-size: 1.2rem;
  padding: 0.3rem;
  text-align: center;
}

.coin-table-search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}




