.coin-table-container {
  background: none;
  font-weight: 500;
  font-size: $m-size;
  border-radius: 4px;
  padding: $ml-size 0;
  color: $dark-navy;
  margin: 5rem 0;
  background-color: $light-grey;
  box-shadow: 1.5px 1.5px 1.2px 1.5px #00000026;
  @media (max-width: 650px) {
    width: 94vw;
    overflow: scroll;
  }
  @media (max-width: 340px) {
    margin: 35px 0;
  }
}

.table-section {
  display: flex;
}

.coin-table-title {
  font-weight: 400;
}

.coin-table-head {
  display: grid;
  text-align: left;
  padding: 0 $ml-size $xs-size $ml-size;
  grid-template-columns: repeat(4, 150px);
}

.coin-table-head-cell {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.coin-table-head-text {
  margin: 0;
  justify-self: center;
}

.coin-table-body {
  display: grid;
  border-top: 1px;
  border-bottom: 1px;
  border-right: 0;
  border-left: 0;
  border-style: solid;
  border-color: $grey;
  background-color: $mid-grey;
  padding: $s-size $ml-size;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0.5rem;
}

.coin-table-row {
  display: grid;
  grid-template-columns: repeat(4, 150px);
}


.coin-table-cell {
  padding: 0.3rem;
  text-align: start;
}

// .coin-table-search {
//   display: flex;
//   justify-content: flex-end;
//   margin-bottom: 1.5rem;
// }




