.header-section {
  background: #ffffff;
  margin: 0px;
}

.header-container {
  display: grid;
  justify-items: start;
  height: 75px;
  grid-template-columns: 1fr;
  @media (max-width: 380px) {
    height: 70px;
  }

  h1 {
    color: $dark-navy;
    font-weight: 400;
    font-size: 2.6rem;
    @media (max-width: 380px) {
      font-size: 2.2rem;
    }
  }
}
