.header-section {
  background: $white;
  margin: 0px;
}

.header-mode-button {
  color: $blue;
  background: none;
  border: none;
  font-weight: 700;
  transition: all 0.2s;
  font-size: 1.8rem;
  &:hover {
    color: $dark-grey;
    transition: all 0.2s;
  }
  &:focus {
    color: $dark-grey;
    transition: all 0.2s;
  }
}

.header-button-text {
  margin-left: 0.5rem;
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: inline-block;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  justify-items: start;
  min-height: 6rem;
  max-width: 94%;
  margin: 0px auto;
  font-size: 1.1rem;

  @media (max-width: 380px) {
    font-size: 0.85rem;
  }

  @media (min-width: $desktop-breakpoint) {
    max-width: 87%;
  }

  h1 {
    color: $dark-navy;
    font-weight: 600;
    margin: 0;
  }
}
