.text-input {
  border: 1px solid $grey;
  border-radius: 0;
  background-color: $light-grey;
  color: $dark-navy;
  height: 1.8rem;
  font-weight: 400;
  padding: 0.1rem;
}

.text-input__error {
  border: 1px solid $red;
}

.text-input:hover {
  background: $mid-grey;
  transition: all 0.2s;
  box-shadow: 0.1px 0.1px 0.1px #0000002b;
}

// textarea {
//   @extend .text-input;
//   height: 10rem;
// }

input::placeholder {
  color: $light-black;
  @media (min-width: $tablet-breakpoint) {
    font-size: 1.7rem;
  }
}

select, option {
  -moz-appearance: none;
  -webkit-appearance : none; /* To gain control over the appearance on WebKit/Chromium */
  -moz-appearance : none; /* To gain control over the appearance on Gecko */
}

select {
  border: 1px solid $grey;
  color: $light-black;
}

select.calculator-form-element {
  background-color: $light-grey;
  height: 30px;
  overflow: hidden;
  height: 42px;
  width: 100%;
  padding: 8px;
  &:hover {
    transition: all 0.2s;
    background: $mid-grey;
    box-shadow: 0.1px 0.1px 0.1px #0000002b;
  } 

}