.text-input {
  border: 1px solid $off-white;
  border-radius: 0;
  background: none;
  color: $off-white;
  height: 1.8rem;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0.1rem;
}

.text-input__error {
  border: 1px solid $red;
}

.text-input:hover {
  background: #ffffff1c;
  border: 1px solid $light-blue;
}

// textarea {
//   @extend .text-input;
//   height: 10rem;
// }

input::placeholder {
  color: $off-white;
  @media (min-width: $tablet-breakpoint) {
    font-size: 1.3rem;
  }
}

select, option {
  -moz-appearance: none;
  -webkit-appearance : none; /* To gain control over the appearance on WebKit/Chromium */
  -moz-appearance : none; /* To gain control over the appearance on Gecko */
}

select {
  border: 1px solid #f7f7f7;
}

