.sort-buttons-containter {
  font-size: $l-size;
  @media (min-width: $desktop-breakpoint) {
    font-size: $m-size;
    justify-self: flex-start;
  }
}

.sort-button {
  background: none;
  border: none;
  color: $off-white;
  padding: 5px;
}



