// .sort-buttons-container {
//   font-size: $l-size;
//   // @media (min-width: $tablet-breakpoint) {
//   //   font-size: $m-size;
//   //   justify-self: flex-start;
//   // }
// }

.sort-button {
  background: none;
  border: none;
  color: $off-white;
  // padding: 5px;
  cursor: pointer;
}

.sort-button:hover {
  color: $raspberry;
}


