// .sort-buttons-container {
//   font-size: $l-size;
//   // @media (min-width: $tablet-breakpoint) {
//   //   font-size: $m-size;
//   //   justify-self: flex-start;
//   // }
// }

.sort-button {
  background: none;
  border: none;
  font-size: 2rem;
  padding-right: 0;
  color: $grey;
  cursor: pointer;
}

.sort-button:hover {
  color: $blue;
}


