.tooltip {
  position: absolute;
  background:rgb(155, 154, 154);
  border-radius: 3px;
  margin-left: 40px;
  padding: 1.2rem 1.6rem;
  text-align: center;
  width: 10rem;
  transition-delay: 1s;
  transition: 2s ease-in-out;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(155, 154, 154) transparent transparent transparent,
}