* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Raleway', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  overflow: scroll;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button:focus {
  outline:0;
}

.is-active {
  font-weight: bold;
}

.container {
  max-width: 94%;
  margin: 0px auto;
  @media (min-width: $desktop-breakpoint) {
    max-width: 78%;
  }
}
.green {
  color: green;
}

.red {
  color: red;
}

.hover-box {
  background: fade-out(rgb(155, 154, 154), .15);
  border-radius: 3px;
  padding: $s-size $m-size;
  text-align: center;
  width: 10rem;
}

.section-title {
  font-weight: 300;
  color: $white;
  font-size: $l-size;
}

.section-title-spacing {
  text-align: center;
  margin-bottom: 0;
  margin-top: 7rem;
  @media (max-width: 390px) {
    margin-top: 3rem;
  }
}

select {
  -webkit-appearance: none;
}

.box-layout {
  background-color: $dark-navy;
}

.main-container {
  background-color: $dark-navy;
  background: url('/images/background.jpeg');
  background-size: cover;
  display: flex;
  color: $grey;
  width: 100%;

  @media (max-width: 340px) {
    min-height: 80vh;
  }

  @media (min-width: 360px) {
    min-height: 85vh;
  }

  @media (min-width: 480px) {
    min-height: 75vh;
  }
  @media (min-width: $desktop-breakpoint) {
    min-height: 79vh;
  }
}

.mode-container {
  animation: modeContainerAnimation 0.7s forwards 0s ease;
}

@keyframes modeContainerAnimation{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}