* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  overflow: scroll;
}

button {
  cursor: pointer;
}

button:focus {
  outline:0;
}

.is-active {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}

.hover-box {
  background: fade-out(rgb(155, 154, 154), .15);
  border-radius: 3px;
  padding: $s-size $m-size;
  text-align: center;
  width: 10rem;
}