// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$dark-navy: #001623;
$light-blue: #6bc9ff;
$black: #000;
$soft-grey: #eeeeee;
$off-white: #f7f7f7;
$raspberry: #A63446;
$red: #ff3434;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$tablet-breakpoint: 769px;
$desktop-breakpoint: 45rem;
