// Colors
$dark-grey: #333;
$grey: #666;
$mid-grey: #e8e8e8;
$light-grey: #f7f6f6;
$white: #fff;

$light-blue: #6bc9ff;
$black: #000;
$soft-grey: #eeeeee;

$raspberry: #A63446;
$red: #ff3434;


$dark-navy: #2D3142; 
$extra-dark-navy: #242835;
$grey: #D8D8D8;
$blue: #4E8098;

// Font Size
$font-size-medium: 2.2rem;
$font-size-large: 2.8rem;
$font-size-extra-large: 3.2rem;
$font-size-small: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4rem;

$tablet-breakpoint: 769px;
$desktop-breakpoint: 45rem;
